@import url('https://fonts.googleapis.com/css2?family=Bitcount+Prop+Single+Ink:wght@100..900&display=swap'); 

body {
    background-color: rgb(26, 26, 26);
}

.container {
    display: flex;
    justify-content: center;
}



h1 {
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-align: center;
    font-size: 25px;
    color: rgb(113, 73, 150);
    text-shadow: 0px 0px 20px rgb(98, 0, 255);
    position: absolute;
    height: 12%;
    width: 28%;
}

img {
    height: 510px;
    width: 920px;
    position: absolute;
     left: 26%;
    bottom: 17%;
    z-index: -1;
    background-color: rgba(255, 0, 0, 0.5);
    filter: brightness(5%);
    border-radius: 1000px;
    box-shadow: 0px 0px 60px rgb(175, 0, 0);
    filter: blur(10%);
    cursor: pointer;
    transition: 0.3s;
}

img:hover {
    transform: scale(1.05);
    background-color: rgba(255, 0, 0, 0.5);
    filter: brightness(40%);
}